Install Libraries

In [1]:
import pandas as pd
import emoji
import contractions
import re

Menghilangkan karakter yang tidak dibutuhkan

In [2]:
def cleansing(tweet) :
    # Replace RT tag
    t1 = re.sub('RT\s', '', tweet)
    # Replace @_username
    t2 = re.sub('\B@\w+', '', t1)
    # Replace emojis with text
    t3 = emoji.demojize(t2)
    # Replace URL (http:// or https://)
    t4 = re.sub('(http|https):\/\/\S+', '', t3)
    # Replace #_something_
    t5 = re.sub('#+', '', t4)
    # Lower case each Letter
    t6 = t5.lower() 
    # Replace word repetition with a single Bccurance ('oooooo' becomse 'oo')
    t7 = re.sub(r'(.)\1+', r'\1\1', t6)
    # Replace punctuation repetition with a single occurance ('!!!!!!!!!' becomes '!')
    t8 = re.sub(r'[\?\.\!]+(?=[\?.\!])', '', t7)
    # Alphabet only, exclude special characters
    t9 = re.sub('[^a-zA-Z0-9]', ' ', t8)
    # Replace contractions with their extended forms
    t10 = contractions.fix(t9)
    return t10

Mengambil data raw dari crawling twitter

In [3]:
df = pd.read_csv('data_raw_g20.csv', usecols=['date', 'username', 'tweet'])
df.head()

,date,username,tweet
0,2022-10-05 12:21:14,jeslintuse2,Nusa Tenggara Timur Pemerintah Pastikan Semua ...
1,2022-10-05 12:17:55,usharanimuni,Pemerintah pastikan hotel di Bali siap sambut ...
2,2022-10-05 12:13:03,diaharmayanti1,Pemerintah pastikan hotel di bali siap sambut ...
3,2022-10-05 12:12:31,SeptianiMestika,Bali Compendium akan dibawa Indonesia ke KTT G...
4,2022-10-05 12:11:59,diaharmayanti1,Kesiapan jaringan telekomunikasi indonesia men...

Menghilangkan simbol https, dan tag @

In [4]:
for i, r in df.iterrows():
    y = cleansing(r['tweet'])
    df.loc[i, 'tweet'] = y

df['tweet'] = df['tweet'].replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)
df['tweet'] = df['tweet'].replace(r'@\S+', '', regex=True)

df.head()

,date,username,tweet
0,2022-10-05 12:21:14,jeslintuse2,nusa tenggara timur pemerintah pastikan semua ...
1,2022-10-05 12:17:55,usharanimuni,pemerintah pastikan hotel di bali siap sambut ...
2,2022-10-05 12:13:03,diaharmayanti1,pemerintah pastikan hotel di bali siap sambut ...
3,2022-10-05 12:12:31,SeptianiMestika,bali compendium akan dibawa indonesia ke ktt g...
4,2022-10-05 12:11:59,diaharmayanti1,kesiapan jaringan telekomunikasi indonesia men...

Export hasil cleansing ke csv

In [27]:
df.to_csv('data_cleansed_g20.csv', index=False)